* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body {
	background-color: #121317;
	margin: 0;
	min-height: 100vh;
}


header{
	position: relative;
	text-align: center;
	color: pink;
	font-family: sans-serif;
	font-size: 16px;
	padding: 10px;
	z-index: 100;
	justify-content: space-between;
	align-items: center;
	word-spacing: 5px; 
}

header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;

}
li a {
	font-size: 20px;
	color: pink;
}

ul li{
	list-style: none;
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: 12px;
}

footer {
	text-align: center;
	font-size: 10px;
	color: #D2042D;
	position: relative;
	padding: 10px;
	margin-top: 5%;

}

nav ul li {
 position: relative;
 display: inline-block;
}

#sfw {
	width: 350px;
	height: 200px;
	margin: auto;
	margin-top: 5%;
	display: flex;
	flex-direction: row;
}

#nsfw {
	width: 420px;
	height: 200px;
	margin: auto;
	display: flex;
	flex-direction: row;
}

#one {
	text-align: center;
	color: #fff;
	opacity: 30%;
	margin-top: 20%;
}

.container {
	width: auto;
	height: auto;
	padding: 20px 10%;
}


.gallery {
	display: flex;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	grid-template-rows: repeat(3, minmax(250px, 1fr));
	grid-gap: 15px;
	flex-wrap: wrap;
	
}

.gallery img {
	width: 300px;
	height: 300px;
	border-style: solid;
	border-color: pink;
	border-radius: 10px;
	display: inline;


}
 #check {
	display: none; 
}

.icons {
	left: 5%;
	position: absolute;
	font-size: 2.8rem;
	color: #fff;
	cursor: pointer;
	display: none; 
}

@media screen and (max-width: 992px){
	.gallery {
	display: block;
	grid-template-columns: repeat(1, minmax(125px, 1fr));
	grid-template-rows: repeat(1, minmax(125px, 1fr));
	grid-gap: 15px;
	
}
 	.gallery img {
 		width: 150px;
 		height: 150px;

 	}	header {
		padding: 1.5rem 5%;
	
}

@media (max-width: 992px) {
	header {
		padding: 1.5rem 5%;
	}
}

@media (max-width: 768px) {

	nav ul li {
		display: block;
	}

	#check:checked~.icons #menu-icon {
		display: none;

	}

	.icons {
		display: inline-flex;
	}

	.icons #close-icon {
		display: none;
	}

	#check:checked~.icons #close-icon {
		display: block; 
	}

	.navbar {
		position: absolute;
		top: 120%;
		left: 0;
		width: 100%;
		height: 0%;
		background: rgba(0, 0, 0, .1);
		backdrop-filter: blur(50px);
		transition: .3s ease;	
		overflow: hidden;
		
	}

	.navbar a {
		display: block;
		font-size: 1.1rem;
		margin: 1.5rem 0;
		text-align: center;
	}

	#check:checked~.navbar {
		display: block; 
		height: 17.7rem; 
	}