body {
	background-color: #121317;
	margin: 0;
}

header{
	text-align: center;
	color: pink;
	font-family: komika axis;
	font-size: 16px;
	padding: 5%;
}

header li a {
	padding: 20px;
	font-size: 20px;
	color: pink;
}

ul li{
	list-style: none;
	font-family: Komika Axis;
	color: #FFFFFF;
	font-size: 12px;
}

footer {
	text-align: center;
	font-size: 10px;
	color: #D2042D;
	position: sticky;
}

nav ul li {
 position: relative;
 display: inline-block;
 }

 h3 {
 text-align: center;
 font-size: 50px;
 font-family: komika axis;
 color: pink;
}

.container {
	width: auto;
	height: auto;
	padding: 20px 10%;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	float: left;
    

}

.gallery {
	display: flex;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	grid-template-rows: repeat(3, minmax(250px, 1fr));
	grid-gap: 15px;
	flex-wrap: wrap;
	
}

.gallery img {
	width: 300px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px auto;
	border-style: solid;
	border-color: pink;
	border-radius: 10px;
}


@media screen and (max-width: 757px){
	.gallery {
	display: block;
	grid-template-columns: repeat(1, minmax(125px, 1fr));
	grid-template-rows: repeat(1, minmax(125px, 1fr));
	grid-gap: 15px;
	
}
 	.gallery img {
 		width: 150px;
 		height: 150px;

 	}

 {

	
