body {
	background-color: #121317;
	margin: 0;
}

header{
	text-align: center;
	color: pink;
	font-family: komika axis;
	font-size: 16px;
	padding: 5%;
}

header li a {
	padding: 20px;
	font-size: 20px;
	color: pink;
}

ul li{
	list-style: none;
	font-family: Komika Axis;
	color: #FFFFFF;
	font-size: 12px;
}

footer {
	text-align: center;
	font-size: 10px;
	color: #D2042D;
	position: sticky;
}

nav ul li {
 position: relative;
 display: inline-block;
 }

 h3 {
 text-align: center;
 font-size: 50px;
 font-family: komika axis;
 color: pink;
}

.container {
	width: 75%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 10%;
    

}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	grid-template-rows: repeat(3, minmax(250px, 1fr));
	grid-gap: 5px;
	
}

.gallery img {
	width: 300px;
	height: 300px;
	
}