* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body {
	background-color: #121317;
	margin: 0;
	min-height: 100vh;
}

header{
	position: relative;
	text-align: center;
	color: pink;
	font-family: sans-serif;
	font-size: 16px;
	padding: 10px;
	z-index: 100;
	justify-content: space-between;
	align-items: center;
	word-spacing: 10px;
	}

header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;

}
li a {
	font-size: 20px;
	color: pink;
}

ul li{
	list-style: none;
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	flex: 1;
}

footer {
	text-align: center;
	font-size: 10px;
	color: #D2042D;
	position: relative;
	padding: 10px;
	margin-top: 5%;
}

nav ul li {
 position: relative;
 display: inline-block;
}


h1 {
	text-align: center;
	font-family:sans-serif;
	font-size: 20px;
	color: pink;
	margin-top: 10%;

}

h2 {
	text-align: center;
	font-family: sans-serif;
	font-size: 16px;
	color: pink;
}


h3{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: pink;
	margin-top: 10px;
	padding: 3%;
}

h4 {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: pink;
	margin-top: 50px;
}

h5 {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: pink;
	margin-top: 50px;
}

h6 {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: pink;
	margin-top: 10%;
}

#one {
	margin-top: 5%;
	font-size: 18px;
	font-family: sans-serif;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	color: #fff;
	border-style: solid;
	border-radius: 20px;
	border-color: rgba(243, 93, 171, 0.8);
	padding: 3%;

}

#two {
	margin-top: 5%;
	font-size: 18px;
	font-family: sans-serif;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	color: #fff;
	border-style: solid;
	border-radius: 20px;
	border-color: rgba(243, 93, 171, 0.8);
	padding: 3%;


}

#three {
	font-family: sans-serif;
	text-align: center;
	color: #FFFFFF; 
	font-size: 18px;
	border-radius: 20px;
	border-style: solid;
	border-color: rgba(254, 91, 175, 0.8);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
}

#four {
	font-family: sans-serif;
	text-align: center;
	color: #FFFFFF; 
	font-size: 16px;
	border-style: solid;
	border-radius: 50px;
	border-color: rgba(254, 91, 175, 0.8);
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	padding: 3%;
	max-width: 100%;
	max-height: 100vh;

}

#five {
	font-family: sans-serif;
	text-align: center;
	color: #FFFFFF; 
	font-size: 16px;
	border-style: solid;
	border-radius: 20px;
	border-color: rgba(254, 91, 175, 0.8);
	margin-left: 20%;
	margin-right: 20%;
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
}

#six {
	font-family: sans-serif;
	text-align: center;
	color: #FFFFFF; 
	font-size: 16px;
	border-style: solid;
	border-radius: 20px;
	border-color: rgba(254, 91, 175, 0.8);
	margin-left: 20%;
	margin-right: 20%;
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
}



.pictures-gumroad {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	background-size: contain;
	background-repeat: no-repeat;
}


.pictures-reddit {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	background-size: contain;
	background-repeat: no-repeat;
}

.pictures-twitch {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	background-size: contain;
	background-repeat: no-repeat;
}

.pictures-youtube {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	background-size: contain;
	background-repeat: no-repeat;
}

.pictures-instagram {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;;
	background-size: contain;
	background-repeat: no-repeat;}

.pictures-twitter {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	background-size: contain;
	background-repeat: no-repeat;
}

.pictures-da {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	background-size: contain;
	background-repeat: no-repeat;
}


#check {
	display: none;
}

.icons {
	left: 5%;
	position: absolute;
	font-size: 2.8rem;
	color: #fff;
	cursor: pointer;
	display: none;
}

@media (max-width: 992px) {
	header {
		padding: 1.5rem 5%;
	}
}

@media (max-width: 768px) {

	nav ul li {
		display: block; 
	}

	#check:checked~.icons #menu-icon {
		display: none;

	}

	.icons {
		display: inline-flex;
	}

	.icons #close-icon {
		display: none;
	}

	#check:checked~.icons #close-icon {
		display: block; 
	}

	.navbar {
		position: absolute;
		top: 120%;
		left: 0;
		width: 100%;
		height: 0%;
		background: rgba(0, 0, 0, .1);
		backdrop-filter: blur(50px);
		transition: .3s ease;	
		overflow: hidden;
		
	}

	.navbar a {
		display: inline-block;
		font-size: 1.1rem;
		margin: 1.5rem 0;
		text-align: center;
	}

	#check:checked~.navbar {
		display: block; 
		height: 17.7rem; 
	}
